.productDetailed {
  margin: 0px 0px 0px 50px;
  // 既然都一樣0px，就只寫一個就可。
  padding: 0px;
  text-align: center;
  .group {
    text-align: left;
    display: flex;
    justify-content: center;
  }
  .group-img {
    margin-top: 50px;
  }

  .productPrice {
    font-size: 25px;
    font-weight: bold;
    color: #009fcc;
    margin-bottom: 20px;
  }

  .productOrder {
    margin-bottom: 20px;
    p {
      font-size: 18px;
      font-weight: bold;
      // 色碼簡寫
      color: #666;
    }
    .orderNumber {
      width:350px;
      height: 50px;
      font-size: 24px;
    }
    .orderBtn {
      vertical-align: middle;
      font-size: 25px;
      margin-top:15px;
      width:700px;
      height:60px;
      // 既然上下, 左右兩組都一樣，就寫一個就可。
      border-radius: 10px;
      // 色碼簡寫
      background-color: #f88;
      border:1px solid #f88;
      .orderImg {
        margin-right:20px;
        vertical-align: middle;
        width: 30px;
      }
    }
  }

  .group-detail {
    vertical-align: middle;
    margin-left: 30px;
  }
}
