.shoppingCart {
  text-align: center;
  .orderTable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    thead {
      th {
        // 色碼都一樣，就縮寫。
        border: 1px solid #000;
        background-color:#FFC0CB;
        // 色碼都一樣，就縮寫。
        color: #fff;
      }
    }
    tbody {
      tr:hover{
        // 色碼都一樣，就縮寫。
        background: #ddd ;
      }
      td {
        // 色碼都一樣，就縮寫。
        border: 1px solid #000;
      }
      td:nth-child(3) {
        text-align: left;
      }
    }
  }
}
